aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
altair==5.1.1
annotated-types==0.5.0
ansicon==1.89.0
anyio==3.7.1
appdirs==1.4.4
arxiv==2.0.0
asgiref==3.7.2
astor==0.8.1
asttokens==2.4.1
async-timeout==4.0.3
asyncio==3.4.3
attrs==23.1.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.2
blessed==1.20.0
blinker==1.6.2
boltons==21.0.0
bracex==2.4
Brotli==1.1.0
build==1.1.1
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.7
click-option-group==0.5.6
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
contourpy==1.1.1
cssselect2==0.7.0
cycler==0.12.0
dataclasses-json==0.6.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distro==1.9.0
docopt==0.6.2
duckduckgo-search==3.9.8
exceptiongroup==1.1.3
executing==2.0.1
face==22.0.0
Faker==19.6.2
fastapi==0.104.1
favicon==0.7.0
feedparser==6.0.10
filelock==3.12.4
Flask==3.0.2
flatbuffers==24.3.7
fonttools==4.43.0
frozenlist==1.4.0
fsspec==2023.9.2
git-python==1.0.3
gitdb==4.0.10
GitPython==3.1.37
glom==22.1.0
google-auth==2.28.2
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
gpt-researcher==0.0.8
greenlet==3.0.0
groq==0.4.2
grpcio==1.62.1
gspread==6.0.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
htbuilder==0.6.2
html2image==2.0.4.3
html5lib==1.1
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.16.4
humanfriendly==10.0
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.8.0
importlib_resources==6.3.0
inquirer==3.1.3
ipykernel==6.29.0
ipython==8.20.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jinxed==1.2.0
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.5
kubernetes==29.0.0
langchain==0.0.335
langchain-community==0.0.28
langchain-core==0.1.34
langchain-groq==0.0.1
langchain-openai==0.1.1
langsmith==0.1.31
litellm==0.13.2
llvmlite==0.42.0
loguru==0.7.2
lxml==4.9.3
Markdown==3.5.1
markdown-it-py==3.0.0
markdown2==2.4.13
markdownlit==0.0.7
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.0
matplotlib-inline==0.1.6
md2pdf==1.0.1
mdurl==0.1.2
mmh3==4.1.0
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
numba==0.59.0
numexpr==2.8.7
numpy==1.26.0
oauthlib==3.2.2
onnxruntime==1.17.1
open-interpreter==0.1.17
openai==1.14.3
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-asgi==0.44b0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
opentelemetry-util-http==0.44b0
orjson==3.9.15
overrides==7.7.0
packaging==23.2
pandas==2.1.1
parso==0.8.3
peewee==3.16.3
permchain==0.0.6
Pillow==10.0.1
platformdirs==4.1.0
playwright==1.39.0
plotly==5.20.0
posthog==3.5.0
prompt-toolkit==3.0.36
protobuf==4.24.3
psutil==5.9.8
pulsar-client==3.4.0
pure-eval==0.2.2
pyarrow==13.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.5.1
pydantic_core==2.14.3
pydeck==0.8.1b0
pydyf==0.9.0
pyee==11.0.1
Pygments==2.16.1
pymdown-extensions==10.3
PyMuPDF==1.23.6
PyMuPDFb==1.23.6
pynndescent==0.5.11
pyparsing==3.1.1
PyPDF2==3.0.1
pyphen==0.14.0
PyPika==0.48.9
pyproject_hooks==1.0.0
pyreadline3==3.4.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-lsp-jsonrpc==1.0.0
python-multipart==0.0.6
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
questionary==2.0.1
ragxplorer==0.1.10
readchar==4.0.5
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.4.0
rich==13.6.0
rpds-py==0.10.3
rsa==4.9
ruamel.yaml==0.17.33
ruamel.yaml.clib==0.2.7
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
semgrep==1.42.0
sentence-transformers==2.5.1
sgmllib3k==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
socksio==1.0.0
soupsieve==2.5
SQLAlchemy==2.0.21
st-annotated-text==4.0.1
stack-data==0.6.3
starlette==0.27.0
streamlit==1.27.1
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.61
streamlit-embedcode==0.1.2
streamlit-extras==0.3.2
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.0
streamlit-option-menu==0.3.6
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
StrEnum==0.4.15
sympy==1.12
tavily-python==0.2.8
tenacity==8.2.3
termcolor==2.3.0
threadpoolctl==3.3.0
tiktoken==0.6.0
tinycss2==1.2.1
tokenizers==0.14.0
tokentrim==0.1.13
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.2.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.14.1
transformers==4.35.2
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.0.1
ujson==5.8.0
umap-learn==0.5.5
urllib3==1.26.16
uuid==1.30
uvicorn==0.24.0.post1
validators==0.22.0
watchdog==3.0.0
watchfiles==0.21.0
wcmatch==8.5
wcwidth==0.2.8
weasyprint==61.2
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
wget==3.2
wikipedia==1.4.0
win32-setctime==1.1.0
wrapt==1.16.0
yarl==1.9.2
yaspin==3.0.1
zipp==3.17.0
zopfli==0.2.3
